.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.explainer {
    text-align: center;
}

.explainer > p {
    font-size: 1.2em;
}

.explainer > h3 {
    font-size: 300%;
    color: lightblue;
}